doctype html
html(lang="sk")
  head
    meta(charset="UTF-8")
    meta(name="description", content="")
    meta(name="author", content="giTo")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title index
    link(rel="stylesheet", href="main.css")
  body
    main
      header#js-banner.c-article-banner
        .c-article-banner__author maroš ondrejka
        .c-article-banner__title história baníctva v malokarpatskom regióne
      article#js-article.c-article
        .c-article__header
          .c-article__section podzemie
        .l-columns
          h2.c-article__intro Mollis laoreet mei ei, animal tractatos democritum sit ea, has et inani gubergren. Augue tantas perpetua his ei, sea ut fastidii torquatos. Usu et fierent legendos accusata. Sonet audiam delenit ad pro.
          p.c-article__text Lorem ipsum dolor sit amet, ea posse facer rationibus est. Duo ad offendit periculis, quo vide altera ea, per noster inermis ne. Salutandi dissentias accommodare et quo. Id qui veniam malorum quaerendum, vel at interesset scriptorem. Qui nonumy fuisset dissentiet id, viderer nusquam salutandi et ius. Ex enim ullamcorper sed, nec agam facilis an.
          figure.c-article__figure
            img.c-article__img(src="img/tazba.jpg", alt="")
            figcaption.js-img-resize.c-article__caption(data-url="img/tazba.jpg")
             p Sed ex probatus deserunt deseruisse, tale sumo populo an pro. Adipiscing adversarium delicatissimi
          p.c-article__text Iriure quaerendum ex quo, ea agam causae postulant duo. Minim aperiam discere usu id. Est te nihil commodo, ad labore meliore noluisse usu. Usu ut dicta consetetur.
          p.c-article__text At fastidii definitionem sed, quot aliquid alienum vix ea. Ad ferri tractatos quo, no mei omnes saepe meliore, ne nominavi eligendi concludaturque mel. Ut his appetere deterruisset, habeo accusam ei ius. Eos cu fugit graeco option. In posse ipsum pri, est sint agam viris ex, mazim instructior consectetuer sea ea.
          p.c-article__text An debitis fuisset quaerendum duo, per debet error reprimique te, ne has aperiri accumsan assueverit. An atqui suscipit gloriatur sit. Dicant qualisque an ius, percipit constituam cum ut, in nam aperiri aliquid.
          p.c-article__text Natum malorum mea te. An cetero eleifend ocurreret vim, eius utamur vel ex. Ea mel nobis meliore intellegat, no brute euismod facilisis pri. Ad hinc cibo veniam per, eam eu iisque viderer, vide repudiandae contentiones pro ex. Mei quis falli deleniti ad, ridens audire percipit cu vel.
          h3.c-article__subtitle Eu mel elit percipit repudiare
          p.c-article__text Eu mel elit percipit repudiare, his te mutat ridens. Ferri invidunt ne nec. Putent fastidii vel in, an eam commune legendos eleifend. Te est aperiri corrumpit efficiendi, atqui docendi civibus at vel. Te sea mucius offendit. Affert ubique nominavi pro in, an pri wisi virtute oportere.
          figure.c-article__figure
            img.c-article__img(src="img/stiavnica.jpg", alt="")
            figcaption.js-img-resize.c-article__caption(data-url="img/stiavnica.jpg")
              p Adipiscing adversarium delicatissimi. Vis ei audire lobortis mnesarchum, ea iisque mandamus eam.
          p.c-article__text Adipiscing adversarium delicatissimi nam ad, eius explicari principes vel ne. Te amet eros vero pri. Ut saperet mentitum est, has esse luptatum detraxit at, pri ei oporteat persequeris. Id justo viris disputationi vis.
          p.c-article__text Sed ex probatus deserunt deseruisse, tale sumo populo an pro. Id mei putent phaedrum. Id aperiri tibique eam. Dicta quaeque omittam nam ut, duo mutat similique signiferumque no. Mundi concludaturque no sit.
          p.c-article__text Ei eum quot numquam disputationi, te usu nihil dictas. Mea cu dolor libris vivendo, mei fugit aliquip ex, has ex graecis pertinax iudicabit. Et meis modus oportere quo, dico legere et has. Te aeque gubergren duo. Sed tritani utroque te, ea falli aperiri eum.
          p.c-article__text Iriure quaerendum ex quo, ea agam causae postulant duo. Minim aperiam discere usu id. Est te nihil commodo, ad labore meliore noluisse usu. Usu ut dicta consetetur.
          h3.c-article__subtitle Ut errem vocibus eos
          p.c-article__text Vim ei falli sententiae. Fuisset maiestatis eum ea, ad appetere dissentiunt pri, an per alienum disputationi. Graeci aliquip an sea, tempor percipitur his ad. Gubergren inciderint necessitatibus ne qui, sumo salutandi ius ad, id vel antiopam consequat.
          p.c-article__text Per mazim nobis ea. Blandit perpetua theophrastus est an, alii etiam assentior cu duo. Has an soleat patrioque, autem inani falli ei vel. In voluptaria mediocritatem sea. Stet vulputate pro cu.
          figure.c-article__figure
            img.c-article__img(src="img/bana.jpg", alt="")
            figcaption.js-img-resize.c-article__caption(data-url="img/bana.jpg")
              p Adipiscing adversarium delicatissimi.Natum malorum mea te.
          p.c-article__text Vis ei audire lobortis mnesarchum, ea iisque mandamus eam. In ignota cetero diceret eam, nec mucius oblique electram in. Mea ne verear interesset scriptorem, an persius probatus eos. Ea diam menandri pro.Posse antiopam ad per, te cum ignota vidisse tincidunt. Vel ne persecuti complectitur, minim quando postea mei ne. Vidit saperet sententiae has in, no nam probo magna albucius, eos soluta iudicabit rationibus cu. His sale zril ne, ex vel nonumy dolorum laboramus. Elitr principes eum no, ut vix omnis diceret pericula.
          p.c-article__text Natum malorum mea te. An cetero eleifend ocurreret vim, eius utamur vel ex. Ea mel nobis meliore intellegat, no brute euismod facilisis pri. Ad hinc cibo veniam per, eam eu iisque viderer, vide repudiandae contentiones pro ex. Mei quis falli deleniti ad, ridens audire percipit cu vel. Eos no soluta nostro aliquando, at vix putent salutandi corrumpit.
        .c-btn-article__container
          #js-btn-scrolltop.c-btn-article.c-btn-hidden hore
        #js-modal.c-modal
          img#js-modal-img.c-modal__img(src="img/stiavnica.jpg")
    script(src="js/TweenMax.min.js")
    script(src="js/ScrollToPlugin.min.js")
    script(src="js/scroll.js")
    script(src="js/resize.js")
